<% if Webhook.where(:project_id => @project.id).first%>
<div class="box tabular">
<% Webhook.where(:project_id => @project.id).each do |webhook|%>
<%= form_tag(update_webhook_path(@project, webhook.id), :method => :put, :class => "tabular") do %>
<span>
  <span><strong>GettokenURL</strong></span>
  <%= text_field_tag :gettokenUrl, webhook.gettokenUrl, :size => 80 %>
</span> </br>
<span>
  <span><strong>app_id</strong></span>
  <%= text_field_tag :app_id, webhook.app_id, :size => 80 %>
</span> </br>
<span>
  <span><strong>app_secret</strong></span>
  <%= text_field_tag :app_secret, webhook.app_secret, :size => 80 %>
</span> </br>
<span>
  <span><strong>GetidUrl</strong></span>
  <%= text_field_tag :getidUrl, webhook.getidUrl, :size => 80 %>
</span> </br>
<span>
  <span><strong>IMUrl</strong></span>
  <%= text_field_tag :imUrl, webhook.imUrl, :size => 80 %>
</span> </br>
<%= submit_tag l(:button_update) %>
<% end %>
<%= link_to l(:button_delete), delete_webhook_path(@project, webhook.id), :class => "icon icon-del", :method => :delete, :confirm => l(:text_are_you_sure) %>
</br>
<% end %>
</div>
<% else %>
<%= form_tag(create_webhook_path(@project), :method => :post, :class => "tabular") do %>
<div class="box tabular">
<span>
  <span><strong>GettokenURL</strong></span>
  <%= text_field_tag :gettokenUrl, 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', :size => 120 %>
</span> </br>
<span>
  <span><strong>app_id</strong></span>
  <%= text_field_tag :app_id, '', :size => 80 %>
</span> </br>
<span>
  <span><strong>app_secret</strong></span>
  <%= text_field_tag :app_secret, '', :size => 80 %>
</span> </br>
<span>
  <span><strong>GetidUrl</strong></span>
  <%= text_field_tag :getidUrl, 'https://open.feishu.cn/open-apis/contact/v3/users/batch_get_id', :size => 80 %>
</span> </br>
<span>
  <span><strong>IMUrl</strong></span>
  <%= text_field_tag :imUrl, 'https://open.feishu.cn/open-apis/im/v1/messages', :size => 80 %>
</span> </br>
<%= submit_tag l(:button_add) %>
</div>
<% end %>
<% end %>